{{ define "content" }}
<div class="jumbotron">
  <div class="container">
    <h1>選挙の結果を大発表！</h1>
  </div>
</div>
<div class="container">
  <h2>個人の部</h2>
  <div id="people" class="row">
    {{ range $index, $candidate := .candidates }}
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{ if lt $index 10 }}
              <p>{{ $index | indexPlus1 }}. <a href="/candidates/{{ $candidate.ID }}">{{ $candidate.Name }}</a></p>
            {{ else }}
              <p>最下位. <a href="/candidates/{{ $candidate.ID }}">{{ $candidate.Name }}</a></p>
            {{ end }}
          </div>
          <div class="panel-body">
            <p>得票数: {{ $candidate.VoteCount }}</p>
            <p>政党: {{ $candidate.PoliticalParty }}</p>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  <h2>政党の部</h2>
  <div id="parties" class="row">
    {{ range $index, $party := .parties }}
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>{{ $index | indexPlus1 }}. <a href="/political_parties/{{ $party.PoliticalParty }}">{{ $party.PoliticalParty }}</a></p>
          </div>
          <div class="panel-body">
            <p>得票数: {{ $party.VoteCount }}</p>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  <h2>男女比率</h2>
  <div id="sex_ratio" class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>男性</p>
        </div>
        <div class="panel-body">
          <p>得票数: {{ .sexRatio.men }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>女性</p>
        </div>
        <div class="panel-body">
          <p>得票数: {{ .sexRatio.women }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
