{{ define "base" }}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>ISUCON選挙結果</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">ISUCON選挙結果</a>
        </div>
        <div class="header clearfix">
          <nav>
            <ul class="nav nav-pills pull-right">
              <li role="presentation"><a href="/vote">投票する</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </nav>

    {{ template "content" . }}

  </body>
</html>
{{ end }}
